<div class="row">
  <div class="text-center">
    <%= image_tag("ukrtelecom_logo.png", alt: "Укртелеком") %>
  </div>
  <div class="text-center">
    <h3><%= t('.ports_manager', default: "Ports manager") %></h3>
    <p class="small authors">Створено у відділі планування мережі ЧФ ПАТ "Укртелеком"</p>
  </div>
</div>